nav {
  ul {
    padding: 20px 0;
    li {
      list-style-type: none;
      margin: 0 10px;
      a.active {
        color: #2780d9;
        color: #002a54;
        text-decoration: underline;
      }
    }
  }
}
