@import "~bootstrap/dist/css/bootstrap.min.css";
nav {
  ul {
    padding: 20px 0;
    li {
      list-style-type: none;
      margin: 0 10px;
      a.active {
        color: #2780d9;
        color: #002a54;
      }
    }
  }
}
a {
  color: initial;
  &:hover {
    text-decoration: none;
    color: initial;
  }
}
.fc-media-screen {
  table {
    tbody {
      .fc-col-header-cell {
        background: #7c9bba;
        border: none;
        a {
          color: #fff;
        }
      }
    }
  }
  //header
  .fc-header-toolbar {
    h2 {
      font-weight: 500;
    }
    .fc-toolbar-chunk:nth-child(3) {
      display: flex;
      button:focus {
        box-shadow: none;
      }
      & > div {
        margin-right: 0.75rem;
        margin-left: 0;
        order: 1;
        button {
          background: transparent;
          border: none;
          &:hover {
            span {
              transform: scale(1.2);
            }
          }

          span {
            transition: 0.2s;
            color: #2780d9;
          }
        }
      }
      & > button {
        background: transparent;
        border: none;
        &::before {
          content: "\f073";
          font: normal normal normal 20px/1 FontAwesome;
          color: #002a54;
        }
        order: 2;
      }
    }
  }
  .calendar-daycell {
    &.fc-day-sat {
      .fc-daygrid-day-top {
        &::after {
          content: "Event";
          display: block;
          background: #ffd24a;
          margin: 2px 2px 0;
          padding: 1px 0;
          border-radius: 3px;
          color: #fff;
          font-size: 13.6px;
        }
      }
    }
    &.fc-day-today {
      background: transparent !important;
      position: relative;
      a {
        color: #fff !important;
      }
      &:before {
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: block;
        background: #002a54;
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
    .fc-daygrid-day-top {
      margin-top: 1rem;
      flex-direction: column;
      text-align: center;
    }
    .fc-daygrid-day-events {
      min-height: 0 !important;
    }
    .fc-daygrid-event {
      border: none;
      .fc-event-main {
        text-align: center;
      }
    }
  }
}
